/* Make the image fully responsive */
.carousel-inner img {
  width: 100%;
  height: 100%;
}

*,
.container,
.row {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  width: 100%;
}
body {
  font-family: "Poiret One", cursive;
  font-weight: bolder;
}

.top-header {
  display: flex;
  margin: auto;
}
img {
  max-width: 100%;
}
.init-nav {
  display: flex;
  width: auto;
  list-style: none;
}
.nav-item {
  color: #797371;
  font-size: 18px;
  text-decoration: none;
}
.cart-links {
  display: flex;
  width: auto;
  list-style: none;
  float: right;
  padding-top: 35px;
}
.cart-link {
  float: right;
  margin: 10px;
  padding-left: 20px;
}
a {
  color: #797371;
  font-size: 18px;
  text-decoration: none;
}
.bg-color {
  background-color: #f6a947;
}
ul {
  padding: 0;
  margin: 0;
}
.navbar-nav {
  margin-top: 30px;
  z-index: 10;
  align-content: center;
  text-align: center;
  justify-items: center;
}
.navbar-nav ul li {
  list-style: none;
  display: inline-block;
  position: relative;
}
.navbar-toggler {
  color: #797371;
  background-color: #797371;
}
.active {
  border-radius: 15px;
  background-color: #f6a947;
}
